
.contenedor {
	width: 1195px;
	background: white;
	margin: auto;
	}
	
.cabecera {
	margin: auto;
	border-style: solid;
	}

.col{
	width: 265px;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
	padding: 20px;
	}
.col h2{
	color: #B52025
	}

.contenido {
	text-align: center
	}

.top{
	margin-top: 60px;
	}
.menu {
	float: right;
	}
.menu li{
	display: inline-block;
	}
.menu a{
	color: black;
	text-decoration: none;
	padding: 20px;
	}
.menu a:hover{
	background: #B52025
	}
	
.pie {
	overflow: hidden;
	}
.pie a{
	color: black;
	text-decoration: none;
	}
.pie span{
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	}
